html body.jugueteria-cosmica-body {
  background-image: url(/img/fondologo.jpg);
}



.add-product{
  position: fixed;
  background: rgba(26, 212, 26, 0.801);
  border: solid 1px;
  margin: auto;
  width: 50%;
  left: 0;
  right: 0;
  font-size: 3em;
  text-align: center;
  border-radius: 10px;
  z-index: 10;
  &.close{
    display: none;
  }
}
