<div class="section-contact-form">
    <header class="section-contact-form__header">
      <h1>Contacto</h1>
    </header>

    <div class="contact-form-container">
      <form action="post" class="contact-form" autocomplete="off">
        <div class="contact-form__input-container">
          <label for="name">Nombre:</label>
          <input type="text" name="name" id="name" />
          <div class="input-error">Verifique el campo</div>
        </div>
        <div class="contact-form__input-container">
          <label for="email">Mail:</label>
          <input type="email" name="email" id="email" />
          <div class="input-error">Verifique el campo</div>
        </div>
        <div class="contact-form__input-container">
          <label for="comment">Comentario:</label>
          <textarea name="comment" id="comment"></textarea>
          <div class="input-error">Verifique el campo</div>
        </div>
        <div class="contact-form__input-container" id="btnSubmitContainer">
          <button id="button-submit">Enviar</button>
          <div class="input-error">Verifique el campo</div>
        </div>
      </form>
    </div>
  </div>